---

import Card from "@/components/Card.astro";

import Exhibicion from "@/images/presentations/1Card.webp";
import CorazonPollito from "@/images/presentations/2Card.webp";
import TallerCollege from "@/images/presentations/3Card.webp";
import CinePiola from "@/images/presentations/4Card.webp";
import DiloImagenes from "@/images/presentations/5Card.webp";
import TonyFest from "@/images/presentations/6Card.webp";
---

<div>
  <Card link="https://www.instagram.com/p/C6pzbF7NPIi/?locale=uken1&hl=am-et&img_index=1" alt="Tony Fest" route={TonyFest.src}/>
  <Card link="https://www.instagram.com/p/C6HbgizPuWN/?locale=uken1&hl=am-et" alt="Exhibicion Fotográfica" route={Exhibicion.src}/>
  <Card link="https://www.instagram.com/p/C5bgT1cx6BX/?locale=uken1&hl=am-et&img_index=1" alt="Corazon de Pollito" route={CorazonPollito.src}/>
  <Card link="https://www.instagram.com/p/C2it_WDLuH4/?locale=uken1&hl=am-et" alt="Taller de Collage" route={TallerCollege.src}/>
  <Card link="https://www.instagram.com/p/C2f8ARMPeX8/?locale=uken1&hl=am-et" alt="Cine Piola" route={CinePiola.src}/>
  <Card link="https://www.instagram.com/p/C1N50jVrLnl/?locale=uken1&hl=am-et&img_index=1" alt="Cine Piola" route={DiloImagenes.src}/>
</div>

<style>
  div { 
    width: 100%;
    height: auto;
    
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    place-content: center;
    gap: 2.5rem;
  }

  @media (width <= 1024px) {
    div{
      grid-template-columns: repeat(2, 20rem);
    }
  }

  @media (width <= 700px) {
    div{
      grid-template-columns: repeat(2, 15rem);
    }
  }

  @media (width <= 500px) {
    div{
      grid-template-columns: repeat(1, 20rem);
    }
  }
</style>