---
import Card from "@/components/Card.astro";

import MuestraForo from "@/images/presentations/1Card.webp";
import CorazonPollito from "@/images/presentations/2Card.webp";
import TallerCollege from "@/images/presentations/3Card.webp";
import CinePiola from "@/images/presentations/4Card.webp";
import DiloImagenes from "@/images/presentations/5Card.webp";
import CierreCultural from "@/images/presentations/6Card.webp";
---

<section>
  <div>
    <Card alt="Muestra de foro" route={MuestraForo.src}/>
    <Card alt="Corazón de pollito" route={CorazonPollito.src}/>
    <Card alt="Taller de college" route={TallerCollege.src}/>
    <Card alt="CinePiola" route={CinePiola.src}/>
    <Card alt="Dilo con imágenes" route={DiloImagenes.src}/>
    <Card alt="Cierre cultural" route={CierreCultural.src}>
    </div>
  </section>

